<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Payment | Libertex Trades</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png"> -->

  <link rel="manifest" href="site.php">
  <link rel="apple-touch-icon" href="icon.php">
  <link href="../images/rinologo.jpeg" rel="shortcut icon">

  <!-- Place favicon.ico in the root directory -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
  <link rel="stylesheet" href="/css/makepayment.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  
  <script>
    function googleTranslateElementInit() {
      new google.translate.TranslateElement(
        {
          pageLanguage: "en",
        },
        "google_translate_element"
      );
    }
  </script>
  <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body>

  <div id="preloader" class="d-none">
    <div class="loader d-none">
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__ball"></div>
    </div>
  </div>


  <!-- header -->
  {{>header}}
  {{>sidebar}}
  <!-- #/ sidebar -->

  <p id="transactionMethod" style="display: none;">{{transaction.method}}</p>
  <p id="transactionStatus" style="display: none;">{{transaction.status}}</p>


  <div class="content-body">
    <div class="body_wrapper">
      <h2>Deposit-Payment</h2>

      <main>
        <div class="left_container">
          <div class="left_wrapper">
            <h2>Payment</h2>
            <p>
              <span id="status_msg1">You are about to deposit</span>
              <span style="color: hotpink">$200,000</span> into your Wallet
            </p>

            <div>
              <div class="list_flex">
                <h4>Trans. ID</h4>
                <p>{{transaction._id}}</p>
              </div>
              <div class="list_flex">
                <h4>Date/Time</h4>
                <p>{{transaction.date}}</p>
              </div>
              <div class="list_flex">
                <h4>Amount to deposit</h4>
                <p>$ {{transaction.amount}}</p>
              </div>
            </div>
          </div>

          <div class="caution">
            <p>
              <i class="fa-solid fa-circle-exclamation"></i>
              Please Review the Information and Confirm
            </p>
          </div>
        </div>
        <div class="right_container">
          <div class="_right_header">
            <h3>Deposit-Payment</h3>
          </div>

          <div class="coin_wrapper">
            <h3 style="text-transform: capitalize;">{{transaction.method}}</h3>
            <h3 style="text-transform: capitalize;">{{transaction.method}} Address</p>
              <img id="coinImage" data-image={{transaction.method}} src="/images/btc_img.png" alt="">
          </div>

          <br>
          <div class="input_wrapper">
            <input type="text" id="copyCoin" value="bc1q8cxdsrxzta63wete5430lraq5puv2qmaaa9e60" readonly>
            <div class="input_icon">
              <i class="fa-brands fa-bitcoin"></i>
            </div>
            <div class="copyBtb">
              <button id="copyValue">Copy</button>
            </div>
          </div>

          <br>
          <p>Upload Payment Proof (Screenshot)</p>
          <div class="proof_input" id="uploadReceiptContiner">
            <form action="/upload-receipt/{{transaction._id}}" method="post" enctype="multipart/form-data">
            <input type="file" name="upload" id="">
            <br>
            <br>
            <button>PAID BITCOIN</button>
            </form>
          </div>


          <div class="status_section" id="receipt_image">
            <img src="/webStorage/reciept/{{transaction.image}}" alt="">
            <br>
            <br>
            <div class="statuc_action"><h3 id="status_msg">Awaiting confirnmation</h3></div>
          </div>


          <br>
          <div class="caution1">
            <p style="color: red">
              <i class="fa-solid fa-circle-exclamation"></i>
              Be aware of that this order will be cancelled, if you send any other BTC amount.
            </p>
            <p style="color: cornflowerblue">
              <i class="fa-solid fa-circle-exclamation"></i>
              Account will credited once we received your payment.
            </p>
          </div>
        </div>
      </main>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <p class="copyright">&copy; Copyright 2023 by Libertex Trades. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>

    let coinImage = document.getElementById("coinImage")
    let transactionStatus = document.getElementById("transactionStatus").textContent
    let transactionMethod = document.getElementById("transactionMethod").textContent
    const walletAddressInput = document.getElementById("copyCoin")

    if (transactionMethod === "bitcoin") {
      document.getElementById("coinImage").src = "/images/btc_img.png"
      walletAddressInput.value = "bc1q8cxdsrxzta63wete5430lraq5puv2qmaaa9e60"
    }
    if (transactionMethod === "ethereum") {
      document.getElementById("coinImage").src = "/images/ethereum-eth-logo.png"
      walletAddressInput.value = ""
    }
    if (transactionMethod === "usdt") {
      document.getElementById("coinImage").src = "/images/usdt.png"
      walletAddressInput.value = ""
    }



    //Copy wallet address
    document.getElementById("copyValue").addEventListener("click", e => {
      document.getElementById("copyCoin").select()
      document.execCommand("copy")
      Swal.fire('Wallet address copied to clipboard')
    })


    // Receipt and uploading receipt

    let receipt_image = document.getElementById("receipt_image")
    let uploadReceiptContiner = document.getElementById("uploadReceiptContiner")

  console.log(transactionStatus)

    if(transactionStatus == "pending"){
      uploadReceiptContiner.style.display = "block"
      receipt_image.style.display = "none"
    }else {
      uploadReceiptContiner.style.display = "none"
      receipt_image.style.display = "block"
    }

    if(transactionStatus === "success"){
      document.getElementById("status_msg1").textContent = "You successfully deposited"
      document.getElementById("status_msg").textContent = "Approved Deposit"
    }


    
    const paramURL = new URLSearchParams(window.location.search)

    let status = paramURL.get("status")
    if (status === "receipt-submited") {
      //Amount Selected Make your Payment Below
      Swal.fire(
        'Receipt submitted!',
        'We appreciate your submission of the transaction receipt. An administrator will review it for approval.',
        'success'
      )


    }




  </script>

  <script src="dist/clipboard.min.js"></script>

  <!-- 3. Instantiate clipboard -->
  <script>
    var clipboard = new ClipboardJS('.btn');

    clipboard.on('success', function (e) {
      console.log(e);
    });

    clipboard.on('error', function (e) {
      console.log(e);
    });
  </script>

  <!-- Modernizr-3 -->
  <!-- jQuery -->
  <script src="../assets/plugins/common/common.min.js"></script>


  <!-- custom scripts -->
  <script src="js/scripts.js"></script>


</body>
  {{!-- <script src="//code.tidio.co/ivorokqnnw4n2dgvdeacw3c9s1j5fvhr.js" async></script> --}}

  <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'e245bf7aad08bddb94ad4831f1c30bc84dbd6e8a';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>

</html>